astroid==2.2.5
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.0.3
Flask-Cors==3.0.8
get==2019.4.13
gevent==1.4.0
greenlet==0.4.15
h5py==2.8.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.2.post1
passlib==1.7.1
post==2019.4.13
public==2019.4.13
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
six==1.12.0
SQLAlchemy==1.2.18
typed-ast==1.4.0
urllib3==1.24.1
Werkzeug==0.15.4
wrapt==1.11.2
WTForms==2.2.1
