{% extends 'layout.html'%}

{% block body %}

  <div class="row">
    <!-- Chart Section Begin -->
    <div class="col s12 m12 l8">
        <p class="z-depth-5">
          <div class="container-fluid" id="data-container"></div>
          <div id="TemperatureChart"></div>
        </p>
    </div>
    <!-- Chart Section End -->

    <div id="card-stats">
    <!-- Card Section Begin -->
    
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content cyan white-text">
            <p class="card-stats-title"><i class="material-icons">cloud_queue</i> Temperature</p>
            <h4 class="card-stats-number white-text" id="Temperature"></h4>
          </div>
          
          <div class="card-action cyan darken-1">
            <div id="clients-bar" class="center-align"></div>
            <!-- Fan Switch Section Begin -->
              <div class="switch">
                <label>
                  <div class="white-text">
                    Fan Status: &ensp;
                    off
                    <input type="checkbox" id="FAN" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample1" data-cookie-checkbox-value="01">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            <!-- Fan Switch Section End -->
            </div>
          
        </div>
      </div>
      
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content red accent-2 white-text">
            <p class="card-stats-title"><i class="material-icons">grain</i> Humidity</p>
            <h4 class="card-stats-number white-text" id="Humidity"></h4>
          </div>
          
          <div class="card-action red">
            <div id="clients-bar" class="center-align"></div>
            <!-- LED Switch Section Begin-->
              <div class="switch">
                <label>
                  <div class="white-text">
                    LED: Status: &ensp;
                    off
                    <input type="checkbox" id="LED" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample2" data-cookie-checkbox-value="02">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            <!-- LED Switch Section End -->
            </div>
            
        </div>
      </div>
      
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content orange lighten-1 white-text">
            <p class="card-stats-title"><i class="material-icons">format_color_fill</i> Soil Status</p>
            <h4 class="card-stats-number white-text" id="Soil"></h4>
          </div>
          
          <div class="card-action orange">
            <div id="clients-bar" class="center-align"></div>
            <!-- Pump Switch Section Begin-->
              <div class="switch">
                <label>
                  <div class="white-text">
                    Pump Status: &ensp;  
                    off
                    <input type="checkbox" id="PUMP" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample3" data-cookie-checkbox-value="03">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            <!-- Pump Switch Section End -->
            </div>
          
        </div>
      </div>
      
    </div>
    <!-- Card Seciton End -->
  </div>

{% endblock %}


{% block script %}

enableCookieCheckBox();

  function remoteControlAjax(){
    $.ajax({
      url : "/devices",
      method : "post",
      dataType: "json",
      data : JSON.stringify(data),
      contentType: 'application/json; charset=utf-8',
      success: function(){
        console.log(data)
      }})
  };
 
  var data;

  $($(id="#FAN")).change(function() {
    if($(id="#FAN").is(":checked")) {
    //if($('#Fan').attr('checked', true)) {
    //if($(id='#FAN').prop('checked', true)){
      console.log("Is checked");
      data = {'device': 'FAN','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    //else if($(id='#FAN').prop('checked', false)){
    else if ($(id="#FAN").not(":checked")){
      console.log("Is Not checked");
      //window.location.href="device/LED/OFF";
      data = {'device': 'FAN','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }
  })

  $($(id="#LED")).change(function() {
    if($(id="#LED").is(":checked")) {
      console.log("Is checked");
      data = {'device': 'LED','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    else if ($(id="#LED").not(":checked")){
      console.log("Is Not checked");
      data = {'device': 'LED','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }})

  $($(id="#PUMP")).change(function() {
    if($(id="#PUMP").is(":checked")) {
      console.log("Is checked");
      data = {'device': 'PUMP','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    else if ($(id="#PUMP").not(":checked")){
      console.log("Is Not checked");
      data = {'device': 'PUMP','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }});
  

  function listen1() 
  {
      var source = new EventSource("/streamTemp/");
      var target = document.getElementById("Temperature");
      source.onmessage = function(msg) 
      {
        console.log(msg.data);
  	     target.innerHTML = msg.data+ '<br>';
      }
  }
  
  function listen2() 
  {
      var source = new EventSource("/streamHumi/");
      var target = document.getElementById("Humidity");
      source.onmessage = function(msg) 
      {
        console.log(msg.data);
  	     target.innerHTML = msg.data + '<br>';
      }
  } 
  
  function listen3() 
  {
      var source = new EventSource("/streamSoil/");
      var target = document.getElementById("Soil");
      source.onmessage = function(msg) 
      {
        console.log(msg.data);
  	     target.innerHTML = msg.data + '<br>';
      }
  } 
  listen1();
  listen2();
  listen3();

  var chartTempValue;
  var chartHumiValue;
  function listenChart() {
    var source = new EventSource("/streamTemperatureChart/");
    //var target = document.getElementById("TemperatureChart");
    source.onmessage = function(msg) {
        // console.log(msg.data);
        var point = JSON.parse(msg["data"]);
        console.log(point[0]);
        console.log(point[1]);
        console.log(point[2]);
        //target.innerHTML = msg.data + '<br>';
        chartTempValue = point[1];
        chartHumiValue = point[2];

        var series = chart.series[0], shift = series.data.length > 20; // shift if the series is // longer than 20
        //var series2 = chart.series2[0], shift = series.data.length > 20; // shift if the series is // longer than 20
        console.log(series.data.length)

        // add the point
        var newPoint1 = [point[0],point[1]];
        var newPoint2 = [point[0],point[2]];

        chart.series[0].addPoint(newPoint1, true, shift);
        chart.series[1].addPoint(newPoint2, true, shift);
        //chart.series2[0].addPoint(point, true, shift);
        // console.log(chart.series[0]);
    }
    //return chartTempValue;
    //return chartHumiValue;
}
// listen();

chart = new Highcharts.Chart({
  chart: {
      //marginRight: 100,
      height: 625,
      renderTo: 'data-container',
      defaultSeriesType: 'spline',
      shadow: true,
      events: {
          load: listenChart
      }
  },
  time: {
      useUTC: false
  },
  title: {
      text: 'Live Temperature & Humidity Data',
      align: 'left'
  },
  subtitle: {
      text: 'Power by Highcharts',
      align: 'left'
  },
  xAxis: {
      type: 'datetime',
      tickPixelInterval: 150,
      maxZoom: 20 * 1000
  },
  yAxis: [{ // Primary yAxis
      labels: {
          format: '{value}',
          style: {
              color: '#808080' //Highcharts.getOptions().colors[3]
          }
      },
      title: {
          text: 'Temperature / ℃',
          style: {
              color: Highcharts.getOptions().colors[0]
          }
      },
      opposite: false

  }, { // Secondary yAxis
      gridLineWidth: 0,
      labels: {
        format: '{value}',
        style: {
            color: Highcharts.getOptions().colors[1]
        }
    },
      title: {
          text: 'Humidity / %rh',
          style: {
              color: Highcharts.getOptions().colors[1]
          }
      },
      opposite: false,
  }],
  legend: {
      layout: 'vertical',
      align: 'left',
      x: 80,
      verticalAlign: 'top',
      y: 55,
      floating: true,
      backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
  },
  series: [{
      name: 'Temperature Value',
      tooltip: {
          valueSuffix: ' °C'
      },
      data: chartTempValue
      },
      {
      name: 'Humidity Value',
      tooltip: {
      valueSuffix: ' %rh'
      },
      data: chartHumiValue
  }],
});
{% endblock %}
