{% extends 'layout.html'%}

{% block body %}

  <div class="row">
    <div id="card-stats">
    <!-- Card Section Begin -->
    
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content cyan white-text">
            <p class="card-stats-title"><i class="material-icons">cloud_queue</i> Temperature</p>
            <h4 class="card-stats-number white-text" id="Temperature"></h4>
          </div>
          
          <div class="card-action cyan darken-1">
            <div id="clients-bar" class="center-align"></div>
            <!-- Fan Switch Section Begin -->
              <div class="switch">
                <label>
                  <div class="white-text">
                    Fan Status: &ensp;
                    off
                    <input type="checkbox" id="FAN" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample1" data-cookie-checkbox-value="01">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            <!-- Fan Switch Section End -->
            </div>
          
        </div>
      </div>
      
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content red accent-2 white-text">
            <p class="card-stats-title"><i class="material-icons">grain</i> Humidity</p>
            <h4 class="card-stats-number white-text" id="Humidity"></h4>
          </div>
          
          <div class="card-action red">
            <div id="clients-bar" class="center-align"></div>
            <!-- LED Switch Section Begin-->
              <div class="switch">
                <label>
                  <div class="white-text">
                    LED: Status: &ensp;
                    off
                    <input type="checkbox" id="LED" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample2" data-cookie-checkbox-value="02">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            <!-- LED Switch Section End -->
            </div>
            
        </div>
      </div>
      
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content orange lighten-1 white-text">
            <p class="card-stats-title"><i class="material-icons">format_color_fill</i> Soil Status</p>
            <h4 class="card-stats-number white-text" id="Soil"></h4>
          </div>
          
          <div class="card-action orange">
            <div id="clients-bar" class="center-align"></div>
            <!-- Pump Switch Section Begin-->
              <div class="switch">
                <label>
                  <div class="white-text">
                    Pump Status: &ensp;  
                    off
                    <input type="checkbox" id="PUMP" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample3" data-cookie-checkbox-value="03">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            <!-- Pump Switch Section End -->
            </div>
          
        </div>
      </div>

      <!-- Chart Section Begin -->
        <div class="col s12 m12 l12">
          <p class="z-depth-5">
            <div class="container-fluid" id="data-container1"></div>
            <div id="TemperatureChart"></div>
            <div class="container-fluid" id="humidity-chart-data-container"></div>
          </p>
      </div>
      <!-- Chart Section End -->
      
    </div>
    <!-- Card Seciton End -->
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Analysis</span>
            <div id="Analysis Table">
                  <table>
                    <thead>
                      <tr>
                          <th>Type</th>
                          <th>Mean</th>
                          <th>Median</th>
                          <th>Mode</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>Temperature</td>
                        <td id="tempMean"></td>
                        <td id="tempMedian"></td>
                        <td id="tempMode"></td>
                      </tr>
                      <tr>
                        <td>Humidity</td>
                        <td id="humiMean"></td>
                        <td id="humiMedian"></td>
                        <td id="humiMode"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
    </div>
  </div>

  


  <div class="row">
      <div class="col s12 m6 l6">
        <div id="Weather Forecast Cards">
          <!-- Card Section Begin -->  
          <div class="col s12 m12 l12">
            <div class="card animate fadeLeft">
              <div class="card-content cyan white-text">
                <p class="card-stats-title"><i class="material-icons">cloud_queue</i>{{forecastTime1}}</p>
                <h6 class="card-stats-number white-text">{{forecastTemperature1}} °C</h6>
              </div>
              <div class="card-action cyan darken-1 white-text">
                <div id="clients-bar">{{forecastWeather1}}</div>
              </div>
            </div>
          </div>
          <!-- Card Section End -->

          <!-- Card Section Begin -->  
          <div class="col s12 m12 l12">
            <div class="card animate fadeLeft">
              <div class="card-content red accent-2 white-text">
                <p class="card-stats-title"><i class="material-icons">cloud_queue</i>{{forecastTime2}}</p>
                <h6 class="card-stats-number white-text">{{forecastTemperature2}} °C</h6>
              </div>
              <div class="card-action red accent-2 darken-1 white-text">
                <div id="clients-bar">{{forecastWeather2}}</div>
              </div>
            </div>
          </div>
          <!-- Card Section End -->

          <!-- Card Section Begin -->  
          <div class="col s12 m12 l12">
            <div class="card animate fadeLeft">
              <div class="card-content orange lighten-1 white-text">
                <p class="card-stats-title"><i class="material-icons">cloud_queue</i>{{forecastTime3}}</p>
                <h6 class="card-stats-number white-text">{{forecastTemperature3}} °C</h6>
              </div>
              <div class="card-action orange lighten-1 darken-1 white-text">
                <div id="clients-bar">{{forecastWeather3}}</div>
              </div>
            </div>
          </div>
          <!-- Card Section End -->

          <!-- Card Section Begin -->  
          <div class="col s12 m12 l12">
            <div class="card animate fadeLeft">
              <div class="card-content green lighten-1 white-text">
                <p class="card-stats-title"><i class="material-icons">cloud_queue</i>{{forecastTime4}}</p>
                <h6 class="card-stats-number white-text">{{forecastTemperature4}} °C</h6>
              </div>
              <div class="card-action green lighten-1 darken-1 white-text">
                <div id="clients-bar">{{forecastWeather4}}</div>
              </div>
            </div>
          </div>
          <!-- Card Section End -->
        </div>
      </div>

      <div class="col s12 m6 l6">
        <div id="Local Weather Table">
          <div class="card">
            <ul class="collection with-header">
              <li class="collection-header"><h4>Local Weather</h4></li>
              <li class="collection-item"><div>Sky<a class="secondary-content">{{sky}}</a></div></li>
              <li class="collection-item"><div>Temperature<a class="secondary-content">{{temp}} °C</a></div></li>
              <li class="collection-item"><div>Pressure<a class="secondary-content">{{pressure}} Pa</a></div></li>
              <li class="collection-item"><div>Humidity<a class="secondary-content">{{humidity}} %rh</a></div></li>
              <li class="collection-item"><div>Maximum Temperature<a class="secondary-content">{{tempMax}} °C</a></div></li>
              <li class="collection-item"><div>Minimum Temperature<a class="secondary-content">{{tempMin}} °C</a></div></li>
              <li class="collection-item"><div>Visibility<a class="secondary-content">{{visibility}} m</a></div></li>
              <li class="collection-item"><div>WindSpeed<a class="secondary-content">{{windSpeed}} m/s</a></div></li>
              <li class="collection-item"><div>WindDegree<a class="secondary-content">{{windDegree}} °</a></div></li>
              <li class="collection-item"><div>Cloudiness<a class="secondary-content">{{cloudiness}} %</a></div></li>
              <li class="collection-item"><div>Sunrise Time<a class="secondary-content">{{sunrise}}</a></div></li>
              <li class="collection-item"><div>Sunset Time<a class="secondary-content">{{sunset}}</a></div></li>
              <li class="collection-item"><div>City<a class="secondary-content">{{city}}</a></div></li>
              <li class="collection-item"><div>Country<a class="secondary-content">{{country}}</a></div></li>
            </ul>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Weather Forecast</span>
            <div id="ForecastTable">
                  <table>
                    <thead>
                      <tr>
                          <th>Time</th>
                          <th>Describe</th>
                          <th>Temperature</th>
                          <th>Humidity</th>
                          <th>Pressure</th>
                          <th>Wind Speed</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>{{forecastTime1}}</td>
                        <td>{{forecastWeather1}}</td>
                        <td>{{forecastTemperature1}}</td>
                        <td>{{forecastHumidity1}}</td>
                        <td>{{forecastPressure1}}</td>
                        <td>{{forecastWindSpeed1}}</td>
                      </tr>
                      <tr>
                        <td>{{forecastTime2}}</td>
                        <td>{{forecastWeather2}}</td>
                        <td>{{forecastTemperature2}}</td>
                        <td>{{forecastHumidity2}}</td>
                        <td>{{forecastPressure2}}</td>
                        <td>{{forecastWindSpeed2}}</td>
                      </tr>
                      <tr>
                        <td>{{forecastTime3}}</td>
                        <td>{{forecastWeather3}}</td>
                        <td>{{forecastTemperature3}}</td>
                        <td>{{forecastHumidity3}}</td>
                        <td>{{forecastPressure3}}</td>
                        <td>{{forecastWindSpeed3}}</td>
                      </tr>
                      <tr>
                        <td>{{forecastTime4}}</td>
                        <td>{{forecastWeather4}}</td>
                        <td>{{forecastTemperature4}}</td>
                        <td>{{forecastHumidity4}}</td>
                        <td>{{forecastPressure4}}</td>
                        <td>{{forecastWindSpeed4}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
    </div>
  </div> 

{% endblock %}


{% block script %}

enableCookieCheckBox();

  function remoteControlAjax(){
    $.ajax({
      url : "/devices",
      method : "post",
      dataType: "json",
      data : JSON.stringify(data),
      contentType: 'application/json; charset=utf-8',
      success: function(){
        console.log(data)
      }})
  };
 
  var data;

  $($(id="#FAN")).change(function() {
    if($(id="#FAN").is(":checked")) {
    //if($('#Fan').attr('checked', true)) {
    //if($(id='#FAN').prop('checked', true)){
      console.log("Is checked");
      data = {'device': 'FAN','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    //else if($(id='#FAN').prop('checked', false)){
    else if ($(id="#FAN").not(":checked")){
      console.log("Is Not checked");
      //window.location.href="device/LED/OFF";
      data = {'device': 'FAN','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }
  })

  $($(id="#LED")).change(function() {
    if($(id="#LED").is(":checked")) {
      console.log("Is checked");
      data = {'device': 'LED','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    else if ($(id="#LED").not(":checked")){
      console.log("Is Not checked");
      data = {'device': 'LED','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }})

  $($(id="#PUMP")).change(function() {
    if($(id="#PUMP").is(":checked")) {
      console.log("Is checked");
      data = {'device': 'PUMP','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    else if ($(id="#PUMP").not(":checked")){
      console.log("Is Not checked");
      data = {'device': 'PUMP','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }});
  

  function listenLiveData() 
  {
      var source = new EventSource("/streamTemp/");
      //var target = document.getElementById("Temperature");
      source.onmessage = function(msg) 
      {
        console.log(msg.data);
        //target.innerHTML = msg.data+ '<br>';
        var point3 = JSON.parse(msg["data"]);
        Temperature = point3[0];
        document.getElementById("Temperature").innerHTML = Temperature;
        Humidity = point3[1];
        document.getElementById("Humidity").innerHTML = Humidity;
        Soil = point3[2];
        document.getElementById("Soil").innerHTML = Soil;

      }
  }
  

  function listenTemperatureAnalysis() 
  {
    var source = new EventSource("/streamTemperatureAnalysis/");
    source.onmessage = function(msg) 
    {
      console.log(msg.data);
      var point1 = JSON.parse(msg["data"]);

      tempMean = point1[0];
      document.getElementById("tempMean").innerHTML = tempMean;
      tempMedian = point1[1];
      document.getElementById("tempMedian").innerHTML = tempMedian;
      tempMode = point1[2];
      document.getElementById("tempMode").innerHTML = tempMode;
    }
  }

  function listenHumidityAnalysis()
  {
    var source = new EventSource("/streamHumidityAnalysis/");
    source.onmessage = function(msg) 
    {
      console.log(msg.data);
      var point2 = JSON.parse(msg["data"]);
      
      humiMean = point2[0];
      document.getElementById("humiMean").innerHTML = humiMean;
      humiMedian = point2[1];
      document.getElementById("humiMedian").innerHTML = humiMedian;
      humiMode = point2[2];
      document.getElementById("humiMode").innerHTML = humiMode;
    }
  }

  listenLiveData();
  listenTemperatureAnalysis();
  listenHumidityAnalysis();

  function listenTempChart() {
    var source = new EventSource("/streamTemperatureChart/");
    //var target = document.getElementById("TemperatureChart");
    source.onmessage = function(msg) {
        // console.log(msg.data);
        var pointTemp = JSON.parse(msg["data"]);
        console.log(pointTemp[0]);
        console.log(pointTemp[1]);
        //target.innerHTML = msg.data + '<br>';

        var series = chartTemp.series[0], shift = series.data.length > 20; // shift if the series is // longer than 20
        //console.log(series.data.length)

        // add the point
        chartTemp.series[0].addPoint(pointTemp, true, shift);
        // console.log(chart.series[0]);
    }
  }

  function listenHumiChart() {
    var source = new EventSource("/streamHumidityChart/");
    //var target = document.getElementById("TemperatureChart");
    source.onmessage = function(msg) {
        // console.log(msg.data);
        var pointHumi = JSON.parse(msg["data"]);
        console.log(pointHumi[0]);
        console.log(pointHumi[1]);
        //target.innerHTML = msg.data + '<br>';

        var series2 = chartHumi.series[0], shift = series2.data.length > 20; // shift if the series is // longer than 20
        //console.log(series.data.length)

        // add the point
        chartHumi.series[0].addPoint(pointHumi, true, shift);
        // console.log(chart.series[0]);
    }
  }

  chartTemp = new Highcharts.Chart({
    chart: {
        height: (9 / 40 * 100) + '%' ,
        renderTo: 'data-container1',
        defaultSeriesType: 'spline',
        shadow: true,
        events: {
            load: listenTempChart
        }
    },
    time: {
        useUTC: false
    },
    title: {
        text: 'Live Temperature Data',
        align: 'left'
    },
    subtitle: {
        text: 'Power by Highcharts',
        align: 'left'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150,
        maxZoom: 20 * 1000
    },
    yAxis: [{
        gridLineWidth: 0,
        labels: {
            format: '{value}',
            style: {
                color: '#808080' //Highcharts.getOptions().colors[3]
            }
        },
        title: {
            text: 'Temperature / ℃',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        opposite: false
    }],
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 80,
        verticalAlign: 'top',
        y: 55,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
    },
    series: [{
        name: 'Temperature Value',
        data: [],
        color: Highcharts.getOptions().colors[0]
    }]
  });

  chartHumi = new Highcharts.Chart({
    chart: {
      height: (9 / 40 * 100) + '%' ,
        renderTo: 'humidity-chart-data-container',
        defaultSeriesType: 'spline',
        shadow: true,
        events: {
            load: listenHumiChart
        }
    },
    time: {
        useUTC: false
    },
    title: {
        text: 'Live Humidity Data',
        align: 'left'
    },
    subtitle: {
        text: 'Power by Highcharts',
        align: 'left'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150,
        maxZoom: 20 * 1000
    },
    yAxis: { // Secondary yAxis
        gridLineWidth: 0,
        labels: {
            format: '{value}',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        title: {
            text: 'Humidity / %rh',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        opposite: false,
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 80,
        verticalAlign: 'top',
        y: 55,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
    },
    series: [{
        name: 'Humidity Value',
        tooltip: {
        valueSuffix: ' %rh'
        },
        data: [],
        color: Highcharts.getOptions().colors[1]
    }],
  });

  
{% endblock %}
