{% extends 'layout.html'%}

{% block body %}

  
<!-- <h3>Sensor Data</h3> -->
  
<!-- <div class="container"> -->
  <div class="row">

    <div class="col s12 m12 l8">
        <p class="z-depth-5">
          <div class="container-fluid" id="data-container"></div>
          <div id="TemperatureChart"></div>
        </p>
    </div>

    <div id="card-stats">
    
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content cyan white-text">
            <p class="card-stats-title"><i class="material-icons">cloud_queue</i> Temperature</p>
            <!-- <p class="card-stats-title"> Temperature</p> -->
            <h4 class="card-stats-number white-text" id="Temperature"></h4>
          </div>
          
          <div class="card-action cyan darken-1">
            <div id="clients-bar" class="center-align"></div>
            <!-- Switch -->
              <div class="switch">
                <label>
                  <div class="white-text">
                    Fan Status: &ensp;
                    off
                    <input type="checkbox" id="FAN" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample1" data-cookie-checkbox-value="01">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            </div>
          
        </div>
      </div>
      
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content red accent-2 white-text">
            <p class="card-stats-title"><i class="material-icons">grain</i> Humidity</p>
            <!-- <p class="card-stats-title"> Humidity</p> -->
            <h4 class="card-stats-number white-text" id="Humidity"></h4>
          </div>
          
          <div class="card-action red">
            <div id="clients-bar" class="center-align"></div>
            <!-- Switch -->
              <div class="switch">
                <label>
                  <div class="white-text">
                    LED: Status: &ensp;
                    off
                    <input type="checkbox" id="LED" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample2" data-cookie-checkbox-value="02">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            </div>
            
        </div>
      </div>
      
      <div class="col s4 m4 l4">
        <div class="card animate fadeLeft">
          <div class="card-content orange lighten-1 white-text">
            <p class="card-stats-title"><i class="material-icons">format_color_fill</i> Soil Status</p>
            <!-- <p class="card-stats-title"> Soil Status</p> -->
            <h4 class="card-stats-number white-text" id="Soil"></h4>
          </div>
          
          <div class="card-action orange">
            <div id="clients-bar" class="center-align"></div>
            <!-- Switch -->
              <div class="switch">
                <label>
                  <div class="white-text">
                    Pump Status: &ensp;  
                    off
                    <input type="checkbox" id="PUMP" data-cookie-checkbox="true" data-cookie-checkbox-key="CookieCheckBoxSample3" data-cookie-checkbox-value="03">
                    <span class="lever"></span>
                    on
                  </div>
                </label>
              </div>
            </div>
          
        </div>
      </div>
      
    </div>
  </div>


<!-- <h3>Remote Control</h3> -->
<!--   <div class="row"> -->
<!--     {% for device in devices %} -->
<!--     <div class="col s12 m6 l6"> -->
<!--       <div class="card"> -->
<!--         <div class="card-content"> -->
<!--           <div class="card-panel grey lighten-2" >{{device.name}} is {{device.status}}.</div> -->
<!--           <hr> -->
<!--           {% if device['status'] == 'OFF' %} -->
<!--  -->
<!--           <a class="btn disabled">OFF</a> -->
<!--     	    <a class="btn grey darken-2 waves-effect waves-light" href="device/{{device.id}}/ON">ON</a> -->
<!--           {% else %} -->
<!--  -->
<!--           <a class="btn grey darken-2 waves-effect waves-light" href="device/{{device.id}}/OFF">OFF</a> -->
<!--     	    <a class="btn disabled">ON</a> -->
<!--           {% endif %} -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--  -->
<!--     {% endfor %} -->
<!--   </div> -->


{% endblock %}


{% block script %}

  enableCookieCheckBox();

  function remoteControlAjax(){
    $.ajax({
      url : "/devices",
      method : "post",
      dataType: "json",
      data : JSON.stringify(data),
      contentType: 'application/json; charset=utf-8',
      success: function(){
        console.log(data)
      }})
  };
 
  var data;

  $("input").change(function() {
    if($(id="#FAN").is(":checked")) {
    //if($('#Fan').attr('checked', true)) {
    //if($(id='#FAN').prop('checked', true)){
      console.log("Is checked");
      data = {'device': 'FAN','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    //else if($(id='#FAN').prop('checked', false)){
    else if ($(id="#FAN").not(":checked")){
      console.log("Is Not checked");
      //window.location.href="device/LED/OFF";
      data = {'device': 'FAN','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }
  })

  $("input").change(function() {
    if($(id="#LED").is(":checked")) {
      console.log("Is checked");
      data = {'device': 'LED','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    else if ($(id="#LED").not(":checked")){
      console.log("Is Not checked");
      data = {'device': 'LED','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }})

  $("input").change(function() {
    if($(id="#PUMP").is(":checked")) {
      console.log("Is checked");
      data = {'device': 'PUMP','status': 'ON', 'controlType': 'Remote'};
      remoteControlAjax();
    }
    else if ($(id="#PUMP").not(":checked")){
      console.log("Is Not checked");
      data = {'device': 'PUMP','status': 'OFF', 'controlType': 'Remote'};
      remoteControlAjax();
    }});
  

  function listen1() 
  {
      var source = new EventSource("/streamTemp/");
      var target = document.getElementById("Temperature");
      source.onmessage = function(msg) 
      {
        console.log(msg.data);
  	     target.innerHTML = msg.data+ '<br>';
      }
  }
  
  function listen2() 
  {
      var source = new EventSource("/streamHumi/");
      var target = document.getElementById("Humidity");
      source.onmessage = function(msg) 
      {
        console.log(msg.data);
  	     target.innerHTML = msg.data + '<br>';
      }
  } 
  
  function listen3() 
  {
      var source = new EventSource("/streamSoil/");
      var target = document.getElementById("Soil");
      source.onmessage = function(msg) 
      {
        console.log(msg.data);
  	     target.innerHTML = msg.data + '<br>';
      }
  } 
  listen1();
  listen2();
  listen3();

  var chartTempValue;
  var chartHumiValue;
  function listenChart() {
    var source = new EventSource("/streamTemperatureChart/");
    //var target = document.getElementById("TemperatureChart");
    source.onmessage = function(msg) {
        // console.log(msg.data);
        var point = JSON.parse(msg["data"]);
        console.log(point[0]);
        console.log(point[1]);
        console.log(point[2]);
        //target.innerHTML = msg.data + '<br>';
        chartTempValue = point[1];
        chartHumiValue = point[2];

        var series = chart.series[0], shift = series.data.length > 20; // shift if the series is // longer than 20
        //var series2 = chart.series2[0], shift = series.data.length > 20; // shift if the series is // longer than 20
        console.log(series.data.length)

        // add the point
        var newPoint1 = [point[0],point[1]];
        var newPoint2 = [point[0],point[2]];

        chart.series[0].addPoint(newPoint1, true, shift);
        chart.series[1].addPoint(newPoint2, true, shift);
        //chart.series2[0].addPoint(point, true, shift);
        // console.log(chart.series[0]);
    }
    //return chartTempValue;
    //return chartHumiValue;
}
// listen();

chart = new Highcharts.Chart({
  chart: {
      //marginRight: 100,
      height: 625,
      renderTo: 'data-container',
      defaultSeriesType: 'spline',
      shadow: true,
      events: {
          load: listenChart
      }
  },
  time: {
      useUTC: false
  },
  title: {
      text: 'Live Temperature & Humidity Data',
      align: 'left'
  },
  subtitle: {
      text: 'Power by Highcharts',
      align: 'left'
  },
  xAxis: {
      type: 'datetime',
      tickPixelInterval: 150,
      maxZoom: 20 * 1000
  },
  yAxis: [{ // Primary yAxis
      labels: {
          format: '{value}',
          style: {
              color: '#808080' //Highcharts.getOptions().colors[3]
          }
      },
      title: {
          text: 'Temperature / ℃',
          style: {
              color: Highcharts.getOptions().colors[0]
          }
      },
      opposite: false

  }, { // Secondary yAxis
      gridLineWidth: 0,
      labels: {
        format: '{value}',
        style: {
            color: Highcharts.getOptions().colors[1]
        }
    },
      title: {
          text: 'Humidity / %rh',
          style: {
              color: Highcharts.getOptions().colors[1]
          }
      },
      opposite: false,
  }],
  legend: {
      layout: 'vertical',
      align: 'left',
      x: 80,
      verticalAlign: 'top',
      y: 55,
      floating: true,
      backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
  },
  series: [{
      name: 'Temperature Value',
      tooltip: {
          valueSuffix: ' °C'
      },
      data: chartTempValue
      },
      {
      name: 'Humidity Value',
      tooltip: {
      valueSuffix: ' %rh'
      },
      data: chartHumiValue
  }],
});






      
  
<!--   var chartTempValue; -->
<!--   var chartHumiValue; -->
<!--  -->
<!--   function listenChart() { -->
<!--     var source = new EventSource("/streamTemperatureChart/"); -->
<!--     source.onmessage = function(msg) {    -->
<!--         var point = JSON.parse(msg["data"]); -->
<!--         console.log(point[0]); -->
<!--         console.log(point[1]); -->
<!--  -->
<!--         chartTempValue = point[0]; -->
<!--         chartHumiValue = point[1]; -->
<!--     } -->
<!--     return chartTempValue; -->
<!--     return chartHumiValue; -->
<!-- } -->
<!--    -->
<!--       -->
<!--   listen1(); -->
<!--   listen2(); -->
<!--   listen3(); -->
<!--    -->
<!--    -->
<!--   chart = new Highcharts.Chart({ -->
<!--     chart: { -->
<!--         //backgroundColor: '#00ACC1', -->
<!--         height: 625, -->
<!--         renderTo: 'data-container', -->
<!--         defaultSeriesType: 'spline', -->
<!--         shadow: true, -->
<!--         events: { -->
<!--             load: -->
<!--                 function() { -->
<!--                     // set up the updating of the chart each second -->
<!--                     var series1 = this.series[0]; -->
<!--                     var series2 = this.series[1]; -->
<!--                     setTimeout(function() { -->
<!--                         listenChart() -->
<!--                         var x = (new Date()).getTime(), // current time -->
<!--                             y = chartTempValue; -->
<!--                             z = chartHumiValue; -->
<!--                         series1.addPoint([x, y], false, true); -->
<!--                         series2.addPoint([x, z], true, true); -->
<!--                     }, 1000); -->
<!--                 } -->
<!--         } -->
<!--     }, -->
<!--      -->
<!--     time: { -->
<!--         useUTC: false -->
<!--     }, -->
<!--  -->
<!--     title: { -->
<!--         text: 'Live Temperature & Humidity Data', -->
<!--         align: 'left' -->
<!--     }, -->
<!--     subtitle: { -->
<!--         text: 'Power by Highcharts', -->
<!--         align: 'left' -->
<!--     }, -->
<!--  -->
<!--     xAxis: { -->
<!--         type: 'datetime', -->
<!--         tickPixelInterval: 150, -->
<!--         maxZoom: 20 * 1000 -->
<!--     }, -->
<!--  -->
<!--     yAxis: [{ // Primary yAxis -->
<!--         labels: { -->
<!--             format: '{value}°C', -->
<!--             style: { -->
<!--                 color: Highcharts.getOptions().colors[0] -->
<!--             } -->
<!--         }, -->
<!--         title: { -->
<!--             text: 'Temperature', -->
<!--             style: { -->
<!--                 color: Highcharts.getOptions().colors[0] -->
<!--             } -->
<!--         }, -->
<!--         opposite: false -->
<!--  -->
<!--     }, { // Secondary yAxis -->
<!--         gridLineWidth: 0, -->
<!--         title: { -->
<!--             text: 'Humidity', -->
<!--             style: { -->
<!--                 color: Highcharts.getOptions().colors[1] -->
<!--             } -->
<!--         }, -->
<!--         labels: { -->
<!--             format: '{value}%rh', -->
<!--             style: { -->
<!--                 color: Highcharts.getOptions().colors[1] -->
<!--             } -->
<!--         }, -->
<!--         opposite: true, -->
<!--     }], -->
<!--  -->
<!--     tooltip: { -->
<!--       shared: true -->
<!--     }, -->
<!--  -->
<!--     legend: { -->
<!--       layout: 'vertical', -->
<!--       align: 'left', -->
<!--       x: 80, -->
<!--       verticalAlign: 'top', -->
<!--       y: 55, -->
<!--       floating: true, -->
<!--       backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)' -->
<!--     }, -->
<!--  -->
<!--     series: [{ -->
<!--         name: 'Temperature Value', -->
<!--         tooltip: { -->
<!--           valueSuffix: ' °C' -->
<!--         }, -->
<!--         data: (function() { -->
<!--             // generate an array of random data -->
<!--             var data = [], -->
<!--                 time = (new Date()).getTime(), -->
<!--                 i; -->
<!--  -->
<!--             for (i = -19; i <= 0; i++) { -->
<!--                 data.push({ -->
<!--                     x: time + i * 1000, -->
<!--                     y: [] -->
<!--                 }); -->
<!--             } -->
<!--             return data; -->
<!--         })() -->
<!--     }, -->
<!--     { -->
<!--         name: 'Humidity Value', -->
<!--         tooltip: { -->
<!--           valueSuffix: ' %rh' -->
<!--         }, -->
<!--         data: (function() { -->
<!--             // generate an array of random data -->
<!--             var data = [], -->
<!--                 time = (new Date()).getTime(), -->
<!--                 i; -->
<!--  -->
<!--             for (i = -19; i <= 0; i++) { -->
<!--                 data.push({ -->
<!--                     x: time + i * 1000, -->
<!--                     y: [] -->
<!--                 }); -->
<!--             } -->
<!--             return data; -->
<!--         })() -->
<!--     }], -->
<!--     responsive: { -->
<!--       rules: [{ -->
<!--           condition: { -->
<!--               maxWidth: 500 -->
<!--           }, -->
<!--           chartOptions: { -->
<!--               legend: { -->
<!--                   floating: false, -->
<!--                   layout: 'horizontal', -->
<!--                   align: 'center', -->
<!--                   verticalAlign: 'bottom', -->
<!--                   x: 0, -->
<!--                   y: 0 -->
<!--               } -->
<!--           } -->
<!--       }] -->
<!--     } -->
<!-- }); -->
<!--    -->
{% endblock %}
