<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ThinkAgain for real-time</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>

    <nav class="grey darken-2">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"> ThinkAgain</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
<!--           <li><a href="/dashboard">Dashboard</a></li> -->
          <li><a href='https://github.com/SHIINA96/IoT_Server_Dashboard'>Github</a></li>
<!--           <li><a href="mobile.html">Mobile</a></li> -->
          
          {% if session.logged_in %}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          {% endif%}

        </ul>
      </div>
    </nav>
    
    
  <h1>Login</h1>
  <form method="POST" action="">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control" value="{{request.form.username}}">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control"  value="{{request.form.password}}">
    </div>
    <button type="submit" class="btn grey darken-2 waves-effect waves-light">
      <span>Submit</span>
      <i class="material-icons right">send</i>
    </button>
  </form>

