{% extends 'layout.html'%}

{% block body %}
  <h1>Register</h1>
    {% from "includes/_formhelpers.html" import render_field %}
  <form method="post" action="">
    <div class="form-group">
      {{render_field(form.name, class="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.email, class="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.username, class="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.password, class="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class="form-control")}}
    </div>
    <button type="submit" class="btn grey darken-2 waves-effect waves-light">
      <span>Submit</span>
      <i class="material-icons right">send</i>
    </button>
  </form>
{% endblock %}
